<?xml version="1.0" encoding="utf-8"?>
<manifest
    package="com.apkupdater"
    xmlns:android="http://schemas.android.com/apk/res/android"
>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>

    <uses-feature android:name="android.software.leanback" android:required="false"/>
    <uses-feature android:name="android.hardware.touchscreen" android:required="false" />

    <application
        android:fullBackupContent="true"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppThemeBlue"
        android:banner="@drawable/banner"
    >
        <activity
            android:name=".activity.MainActivity_"
            android:label="@string/app_name"
            android:launchMode="singleTop"
        >
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LEANBACK_LAUNCHER" />
            </intent-filter>
        </activity>

        <service android:name=".service.UpdaterService_"/>

        <receiver android:name=".receiver.AlarmReceiver_" android:exported="false">
            <intent-filter>
                <action android:name="com.apkupdater.alarm"/>
            </intent-filter>
        </receiver>

        <receiver android:name=".receiver.NotificationClickReceiver_">
            <intent-filter>
                <action android:name="com.apkupdater.notification"/>
            </intent-filter>
        </receiver>

        <receiver android:name=".receiver.BootReceiver_">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
        </receiver>

        <receiver android:name=".receiver.DownloadReceiver_" android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.DOWNLOAD_COMPLETE" />
            </intent-filter>
        </receiver>

        <receiver android:name=".receiver.PackageReceiver_" android:enabled="true" android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_ADDED" />
                <action android:name="android.intent.action.PACKAGE_CHANGED" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:scheme="package" />
            </intent-filter>
        </receiver>

    </application>
</manifest>